<h1>Bienvenue sur Studio Pipelette !</h1>

<p>
    Merci de votre inscription. Pour activer votre compte, veuillez cliquer sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Si vous n'êtes pas à l'origine de cette inscription, vous pouvez ignorer cet email.
</p>

<p>
    Cordialement,<br>
    L'équipe Studio Pipelette
</p>
