{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block content_right %}
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <h1 class="h3 mb-4">Mentions légales</h1>

                {% if page %}
                    <div class="bg-white p-4 rounded shadow-sm">
                        {{ page.content|raw }}
                    </div>
                {% else %}
                    <div class="bg-white p-4 rounded shadow-sm">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
                            Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

