{% extends 'caisse/layout.html.twig' %}

{% block title %}Nouvelle Sous-Catégorie{% endblock %}

{% block body %}
    <h1 class="mb-4">Nouvelle sous-catégorie</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            {{ include('caisse/sous_categorie/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
