{% extends 'caisse/layout.html.twig' %}

{% block title %}Nouveau Tarif Lettre Suivie{% endblock %}

{% block body %}
    <h1>Nouveau Tarif Lettre Suivie</h1>

    {{ include('caisse/tarif_lettre_suivie/_form.html.twig') }}

    <a href="{{ path('app_caisse_tarif_lettre_suivie_index') }}" class="btn btn-link">Retour à la liste</a>
{% endblock %}
