{% extends 'caisse/layout.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
    <h1>Nouvelle réservation</h1>

    {{ include('caisse/reservation/_form.html.twig') }}
{% endblock %}
