{% extends 'caisse/layout.html.twig' %}

{% block title %}Modifier Tarif Mondial Relay{% endblock %}

{% block body %}
    <h1>Modifier Tarif Mondial Relay</h1>

    {{ include('caisse/tarif_mondial_relay/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="mt-3">
        <a href="{{ path('app_caisse_tarif_mondial_relay_index') }}" class="btn btn-secondary">Retour à la liste</a>
        {{ include('caisse/tarif_mondial_relay/_delete_form.html.twig') }}
    </div>
{% endblock %}
