{% extends 'caisse/layout.html.twig' %}

{% block title %}Modifier Catégorie Caisse{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Modifier Catégorie Caisse</h1>
    </div>

    {{ include('caisse/categorie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
