{% extends 'caisse/layout.html.twig' %}

{% block title %}Modifier Catégorie{% endblock %}

{% block body %}
    <h1 class="mb-4">Modifier la catégorie</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            {{ include('caisse/boutique_categorie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
{% endblock %}
