{% extends 'base.html.twig' %}
{% block title %}Paiement annulé - SoSand{% endblock %}

{% block content_right %}
<div class="alert alert-warning">
    Paiement annulé. Vous pouvez réessayer.
</div>
{% endblock %}
