{% extends 'base.html.twig' %}
{% block title %}Paiement confirmé - Studio Pipelette{% endblock %}

{% block content_right %}
<div class="alert alert-success">
    <strong>Paiement confirmé.</strong> Merci pour votre commande.
</div>
{% endblock %}
